---
// Component Imports
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import "../../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>betopia's arcade</title>

        <meta content="fun - betopia" property="og:title" />
        <meta content="fun!" property="og:description" />
        <meta content="#996666" data-react-helmet="true" name="theme-color" />

        <style lang="scss">
            .container {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: center;
            }
        </style>
    </head>
    <Header />
    <body>
        <div style="margin: 23px;">
            <div class="board">
                <h1><span style="font-weight: normal;">🎈</span> fun</h1>
                <br />
                stuff for the site i make to get rid of boredom. i promise i might
                add more soon this time
                <br /><br />
                <div class="container">
                    <button
                        style="overflow: hidden; --col-hover: #3fc; --col: #039; font-size: 40px; border-radius: 40px;"
                        onclick="window.location.href = '/fun/stickers'"
                    >
                        <div
                            style="display: flex; gap: 20px; padding: 40px; align-items: center;"
                        >
                            <img
                                height="100"
                                src="/images/stickers/betty/idiot.png"
                                style="filter: drop-shadow(2px 7px 0px #039);"
                            /> stickers!
                        </div>
                    </button>

                    <!--<button
                        style="overflow: hidden; --col-hover: #fcf; --col: #f09; font-size: 40px; border-radius: 40px;"
                        onclick="window.location.href = '/fun/ask'"
                    >
                        <div
                            style="display: flex; gap: 20px; padding: 40px; align-items: center;"
                        >
                            <img
                                height="100"
                                src="/images/stickers/betty/idiot.png"
                                style="filter: drop-shadow(2px 7px 0px #f09);"
                            /> ask!
                        </div>
                    </button>-->
                </div>
                more soon... hopefully

                <img src="/images/snoopy.png" />
            </div>
        </div>
    </body>
    <Footer />
</html>
