---
import Header from "../../components/Header.astro";
import Page from "../../components/Page.astro";
import "../../styles/global.css";
---

<title>betopia's wordle</title>

<meta content="fun - betopia" property="og:title" />
<meta content="fun!" property="og:description" />
<meta content="#996666" data-react-helmet="true" name="theme-color" />
<Page logo={false}>
    <style lang="scss">
        .wordle-block {
            --shake-val: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ccd;
            color: #557;
            border-radius: 0.4em;
            font-size: 36px;
            width: 2em;
            height: 2em;
            max-width: 2em;
            max-height: 2em;
            margin: 2px;
            cursor: crosshair;
        }
    </style>
    <div>
        <div class="board" style="margin: 23px; text-align: center;">
            <script is:inline>
                var words = [
                    "betty",
                    "silly",
                    "daniel",
                    "sillydaniel",
                    "oughh",
                    "meow",
                    "hippopotomonstrosesquippedaliophobia",
                    "pneumonoultramicroscopicsilicovolcanoconiosis",
                    "c",
                ];
                function getRandomWord() {
                    return words[
                        Math.min(
                            Math.round(Math.random() * words.length),
                            words.length - 1,
                        )
                    ];
                }

                const word = getRandomWord();
                const formatWord = word.replaceAll(" ", "").toLocaleLowerCase();
            </script>
            <button onclick="navigate('/');" style="float: left;">🏠</button>
            <h1 style="text-align: center;">wordle but i recreated it</h1>
            <h2 style="text-align: center;">(pc only!)</h2>
            <div
                style="background-color: aliceblue; width: fit-content; height: fit-content; margin: auto; padding: 24px; border-radius: 24px;"
            >
                <template
                    x-init="rows = 
                                Math.max(
                                    6,
                                    Math.floor(
                                        formatWord.length *
                                            1.25 *
                                            Math.min(formatWord.length / 6, 1),
                                    ),
                                ); columns = formatWord.length;"
                    x-for="i in rows"
                >
                    <div class="container">
                        <template x-for="j in columns">
                            <div
                                class="wordle-block"
                                x-bind:id="'wordle_block_'+i+':'+j"
                            >
                            </div>
                        </template>
                    </div>
                </template>
            </div>
            <script is:inline>
                var curColumn = 1;
                var curRow = 1;

                var maxColumns = Math.max(
                    6,
                    Math.floor(
                        formatWord.length *
                            1.25 *
                            Math.min(formatWord.length / 6, 1),
                    ),
                );
                var maxRows = formatWord.length;

                function get(i, j) {
                    return document.getElementById(
                        "wordle_block_" + i + ":" + j,
                    );
                }
                function quickBLCheck(code) {
                    /*var str = "" + code;
                for (const ae in blackListedIDs) {
                    var val = blackListedIDs[ae];
                    if (str.includes(val)) {
                        return true;
                    }
                }
                return false;*/

                    return code.startsWith("Key");
                }

                var guesses = [];
                for (let i = 1; i <= maxColumns; i++) {
                    guesses.push([]);
                }

                function analyze(column) {
                    for (let i = 0; i < maxRows; i++) {
                        var correct = formatWord.split("");
                        var letters = guesses[column - 1];
                        var div = get(column, i + 1);
                        var target = "#99b";
                        var tartext = "#333";

                        //console.log(correct);
                        //console.log(letters);
                        //console.log(column + ":" + i);

                        if (correct.includes(letters[i])) {
                            target = "#f90";
                            tartext = "#fec";
                        }
                        if (correct[i] == letters[i]) {
                            target = "#3f9";
                            tartext = "#069";
                            div.style.setProperty(
                                "box-shadow",
                                "inset 0 0 0 3px #069, 0 0 5px 2px #cff",
                            );
                        }

                        div.style.setProperty("background-color", target);
                        div.style.setProperty("color", tartext);

                        colShakes[column] = 5;
                    }
                }

                document.body.addEventListener("keydown", (e) => {
                    if (curRow > maxRows && e.code.includes("Enter")) {
                        analyze(curColumn);
                        curRow = 1;
                        curColumn += 1;
                    }
                    if (e.code == "Backspace") {
                        curRow -= 1;
                        if (curRow < 1) curRow = 1;
                        get(curColumn, curRow).innerHTML = "";
                        guesses[curColumn - 1].pop();
                    } else {
                        if (
                            curColumn <= maxColumns &&
                            !e.repeat &&
                            quickBLCheck(e.code) &&
                            get(curColumn, curRow)
                        ) {
                            get(curColumn, curRow).innerHTML =
                                e.key.toLocaleLowerCase();

                            guesses[curColumn - 1].push(
                                e.key.toLocaleLowerCase(),
                            );
                            curRow += 1;
                        }
                    }
                });
                var colShakes = [];
                for (var c = 0; c <= maxColumns; c++) {
                    colShakes.push(0);
                }
                function lerp(a, b, ratio) {
                    return a + ratio * (b - a);
                }
                setInterval(() => {
                    for (var c = 0; c <= maxColumns; c++) {
                        colShakes[c] = lerp(colShakes[c], 0, 0.08);
                        for (var r = 0; r <= maxRows; r++) {
                            var div = get(c, r);
                            var shake = colShakes[c];
                            if (div)
                                div.style.setProperty(
                                    "translate",
                                    ((Math.random() - 0.5) * shake).toString() +
                                        "px " +
                                        (
                                            (Math.random() - 0.5) *
                                            shake
                                        ).toString() +
                                        "px",
                                );
                        }
                    }
                }, 20);
            </script>
            <button
                style="width: fit-content; height:fit-content;"
                onclick="window.location.reload()">reset</button
            >
        </div>
    </div>
</Page>
