---
import "../../styles/global.css";
import { getCollection } from "astro:content";
import BlogPage from "../../components/BlogPage.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((a) => {
        return {
            params: {
                pluh: a.slug,
            },
            props: {
                data: a.data,
                post: a,
            },
        };
    });
}

const { data, post } = Astro.props;
const { Content } = await post.render();

const id = Astro.params.pluh;

//console.log(data);
---

{
    data.embed_thumbnail === undefined ? (
        ""
    ) : (
        <meta
            content={"/images/blog-embeds/" + data.embed_thumbnail + ".png"}
            property="og:image"
        />
    )
}

<BlogPage>
    <div style="max-width: 40rem;">
        <p>
            <span style="color: var(--col-light);">{data.from}</span>
            <h1
                style="margin-top: -10px; margin-bottom: 20px; line-height: 0.8em;"
            >
                {data.title}
            </h1>
            <span set:html={data.desc} />
        </p>
        <hr />
        <Content />
    </div>
</BlogPage>
