---
import CharButton from "../../components/CharButton.astro";
import ContactButton from "../../components/ContactButton.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import "../../styles/global.css";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    /*return [
        {
            params: {
                pluh: "sun",
            },
            props: { title: "uhh" },
        },
    ];*/

    const posts = await getCollection("blog");
    // console.log(posts);

    return posts.map((a) => {
        //console.log(a);
        return {
            params: {
                pluh: a.slug,
            },
            props: {
                data: a.data,
                post: a,
            },
        };
    });
}

const { data, post } = Astro.props;
const { Content } = await post.render();

const id = Astro.params.pluh;

//console.log(data);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{data.title + " - betopia's blog"}</title>

        <meta
            content={data.title + " - betopia's yapping"}
            property="og:title"
        />
        <meta
            content={data.desc || "(no description provided)"}
            property="og:description"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta content="#996666" data-react-helmet="true" name="theme-color" />
        <style>
            .container {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: center;
                max-width: fit-content;
            }
        </style>
    </head>
    <Header />
    <body>
        <div style="margin: 23px;">
            <div class="board" style="max-width: 45rem; margin: auto;">
                <div class="sub-board" style="margin: 0; width: unset;">
                    {data.from}
                    <h1 style="color: var(--col-light);">{data.title}</h1>
                    <hr style="background-color: var(--col-main);" />
                    <p
                        set:html={data.desc || "(no description provided)"}
                        style="margin-bottom: 0;"
                    />
                </div>
                <br />

                <Content />
            </div>
        </div>
    </body>
    <Footer />
</html>
