@font-face {
    font-family: 'sillyfont';
    src: url('/sillyfont.ttf');
}

:root {
    --header-color: #303;
    --header-logo-color-1: #ffc;
    --header-logo-color-2: #966;

    --col-bright: #ffc;
    --col-light: #fc9;
    --col-main: #966;
    --col-dim: #634;
    --col-dark: #303;

    --col-bg: #999;
}

html {
    font-family: 'sillyfont', 'Comic Sans MS';
    font-size: 22px;
    color: var(--col-bright);
    text-align: center;
}

body {
    background-color: var(--col-bg);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px 5px 0 var(--col-dim);
    margin-top: -10px;
    margin-bottom: 5px;
}

hr {
    background-color: var(--col-dim);
    height: 7px;
    border: none;
    border-radius: 7px;
}

table, th, td {
    padding: 16px;
    background-color: var(--col-dim);
    border-radius: 20px;
    margin: 14px;
    box-shadow: 0px 7px 0 var(--col-dark);
}

table {
    margin: auto;
    box-shadow: 0px 7px 0 var(--col-dark) inset;
    border-collapse: separate;
    border-spacing: 6px;
}

th {
    background-color: var(--col-dark);
    font-size: 130%;
    font-weight: bold;
}
.board {
    background: var(--col-main);
    box-shadow: 0px 7px 0 var(--col-dim);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow-y: clip;
    padding: 40px;
    width: fit-content;
    margin: auto;
}

.sub-board {
    background: var(--col-dim);
    box-shadow: 0px 7px 0 var(--col-dark) inset;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow-y: clip;
    padding: 40px;
    width: fit-content;
    margin: auto;
    padding-bottom: 33px;
}

a:link {
    color: var(--col-light);
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: var(--col-light);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: var(--col-bright);
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:active {
    color: var(--col-bright);
    background-color: transparent;
    text-decoration: none;
}

button, input {
    margin: 8px;
    border: none;
    color: var(--col-bright);
    background-color: var(--col-dim);
    font-size: 20px;
    border-radius: 10px;
    padding: 14px;
    font-family: 'sillyfont';
    cursor: pointer;
}

button:hover {
    color: var(--col-dim);
    background-color: var(--col-bright);
}

input::placeholder {
    color: var(--col-main);
}

input[type=text] {
    cursor: text;
}

input[type=checkbox] {
    scale: 1.5;
    accent-color: var(--col-dim);
    color: var(--col-bright);
    border: none;
    background-color: var(--col-bright);
    cursor: pointer;
}

input[type=file], select {
    accent-color: var(--col-dim);
    color: var(--col-dim);
    border: none;
    background-color: var(--col-bright);
    cursor: pointer;
}

select {
    border-radius: 10px;
    font-family: 'sillyfont';
    font-size: 20px;
    padding: 4px;
    box-shadow: none;
}

select:focus {
    color: var(--col-bright);
    background-color: var(--col-dim);
}

audio::-webkit-media-controls-panel {
    background-color: #afa;
}

audio {
    filter: invert(100%) sepia(60%) saturate(200%) brightness(104%) contrast(115%);
    width: 500px;
}