@font-face {
    font-family: 'sillyfont';
    src: url('/sillyfont.ttf');
}

:root {
    --header-color: #303;
    --header-logo-color-1: #ffc;
    --header-logo-color-2: #966;

    --col-bright: #ffc;
    --col-light: #fc9;
    --col-main: #966;
    --col-dim: #624;
    --col-dark: #303;

    --col-bg: #303;
    --col-char-bg: #966;

    --col-link: #fc9;
    --col-link-hover: #ffc;
}

html {
    font-family: 'sillyfont', 'Comic Sans MS', Times;
    font-display: swap;
    font-size: 22px;
    color: var(--col-bright);
}

body {
    background-color: var(--col-bg);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
    /*text-shadow: 0px 7px 0 var(--col-dim);*/
    color: var(--col-dark);
    margin-top: -10px;
    margin-bottom: 5px;
}

hr {
    background-color: var(--col-dim);
    height: 7px;
    border: none;
    border-radius: 7px;
}

table, th, td {
    padding: 16px;
    background-color: var(--col-dim);
    border-radius: 20px;
    margin: 14px;
    box-shadow: 0px 7px 0 var(--col-dark);
}

table {
    margin: auto;
    box-shadow: none;
    border-collapse: separate;
    border-spacing: 6px;
}

th {
    background-color: var(--col-dark);
    font-size: 130%;
    font-weight: bold;
}
.board {
    background: var(--col-main);
    /*box-shadow: 0px 7px 0 var(--col-dark);*/
    border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow-y: clip;
    padding: 40px;
    /*min-width: fit-content;*/
    /*margin: auto;*/
}

.sub-board {
    background: var(--col-dim);
    /*box-shadow: 0px 7px 0 var(--col-dark) inset;*/
    border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow-y: clip;
    padding: 40px;
    width: fit-content;
    margin: auto;
}

a {
    --col: var(--col-link);
    --col-hover: var(--col-link-hover);
}
a:link {
    color: var(--col);
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: var(--col);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: var(--col-hover);
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:active {
    color: var(--col-hover);
    background-color: transparent;
    text-decoration: none;
}

button {
    box-shadow: 0px 4px 0px var(--col-dark);
}

button:disabled {
    --col: var(--col-dark);
    --col-hover: var(--col-dim);
    cursor: not-allowed;
    box-shadow: none;
}

button:active:not(:disabled) {
    box-shadow: none;
    translate: 0px 4px; 
}

button, input, textarea {
    --col: var(--col-dim);
    --col-hover: var(--col-bright);

    margin: 8px;
    border: none;
    color: var(--col-hover);
    background-color: var(--col);
    font-size: 20px;
    border-radius: 10px;
    padding: 14px;
    font-family: 'sillyfont';
    cursor: pointer;
}

button:hover:not(:disabled), input:not(input[type=text]):hover {
    color: var(--col);
    background-color: var(--col-hover);
}

input::placeholder, textarea::placeholder {
    color: var(--col-main);
}

input[type=text], textarea {
    cursor: text;
}

/* wip */
input[type=range] {
    background-color: var(--col-dim);
    appearance: none;
    accent-color: var(--col-light);
    height: 1em;
    cursor: e-resize;
    border-radius: 40px;
}

input[type=checkbox] {
    scale: 1.5;
    accent-color: var(--col-dim);
    color: var(--col-bright);
    border: none;
    background-color: var(--col-bright);
    cursor: pointer;
}

input[type=file], select {
    --col: var(--col-dim);
    --col-hover: var(--col-bright);

    font-family: 'sillyfont';
    font-size: 20px;
    accent-color: var(--col-hover);
    color: var(--col-hover);
    border: none;
    background-color: var(--col);
    cursor: pointer;
}

select {
    border-radius: 10px;
    padding: 4px;
    box-shadow: none;
}

select:focus {
    color: var(--col);
    background-color: var(--col-hover);
}

audio::-webkit-media-controls-panel {
    background-color: #afa;
}

audio[controls] {
    filter: invert(100%) sepia(60%) saturate(200%) brightness(104%) contrast(115%);
    width: 500px;
}