---
import Page from "../../components/Page.astro";
---

<meta content="characters - betopia" property="og:title" />
<meta
    content="the characters i own, if you wanna see them. [more info on full page]"
    property="og:description"
/>
<meta content="/images/charbox.png" property="og:image" />
<meta name="twitter:card" content="summary_large_image" />
<meta content="#996666" data-react-helmet="true" name="theme-color" />
<Page logo={false} title="extras - betopia's basement">
    <div style="background-color: var(--col-main); padding: 40px;">
        <div style="width: 50rem; margin: auto; max-width: 100vw;">
            <h1 style="display: flex; gap: 20px; align-items: center;">
                <button
                    onclick="javascript:history.back()"
                    style="margin: 0; width: 3rem; height: 3rem; font-size: 40px;
            display: flex; align-items: center; justify-content: center;"
                    >&leftarrow;</button
                >extras
            </h1>
            here goes general info for my characters and their world<br />
            (i will add more as time goes on)
            <hr />
            <ul>
                <li>
                    they're all bilingual like me (eng/esp) because i said so
                </li>
                <li>
                    surprisingly enough some live kinda far away from others
                </li>
                <li>i haven't rlly done worldbuilding for them lmao</li>
                <li>
                    <b>the way heights are presented may not be accurate!</b> my style
                    has big heads, so you'll have to translate my art style to realism
                    if you wanna have proper comparisons
                </li>
                <li
                    style="font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                color: var(--col-main); font-size: 3px;"
                >
                    Their past shall be told soon. ?v=OEMBAHqgN8A?t=178
                </li>
            </ul>
        </div>
    </div>
</Page>
