---
// Component Imports
import CharButton from '../../components/CharButton.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta content="characters - betopia" property="og:title" />
		<meta content="the characters i own, if you wanna see them. [more info on full page]" property="og:description" />
		<meta content="/characters/betty/art.png" property="og:image" />
		<meta content="#996666" data-react-helmet="true" name="theme-color" />

		<style>
			.container {
  				display: flex;
  				align-items: baseline;
  				justify-content: center;
				width: 100%;
			}
		</style>
		<title>betopia's basement</title>
	</head>
	<Header />
	<body>
	<div style="margin: 23px">
		<div class="board" style="max-width: 75%;" x-data="{women:true}">
			<h1>character storage</h1>
			<br>
			ahh... the page that started it all... it's so awesome...
			<br><br>
			anyways, this is where i keep my <b>original character information</b>; now with the ability to update anytime i want, without having to delete and remake the same tweet over and over again. cool, am i right?
			<br><br>
			search for a character:
			<input type="text" placeholder="betty" id="iput"></input><button onclick="window.location.href = '/characters/' + document.getElementById('iput').value.toLowerCase();">go</button>
			<br><br>
			or choose from here:
			<br><br>
			<div style="color: var(--col-dim); text-align: left; margin-bottom: 5px;">
				<input type="checkbox" x-on:click="women = !women" checked>include women</input>
			</div>
			<div class="sub-board" style="border: var(--col-light) 8px double;">
				<h1 style="text-shadow: 0px 4px 0px var(--col-dark);">main characters</h1>
				the characters i'll probably put on the spotlight often, expect a lot of content with them.
				<br>
				<span style="font-size: 17px; color: var(--col-dim);">
				and with a lot, i mean, a <i>lot.</i> :3
				</span>
				<br> <br>
				<div class="container">
					<CharButton char='Betpo'/> <div x-show="women"><CharButton char='Josephine'/></div>
				</div>
			</div>
			<br><br>
			<div class="sub-board">
				<h1 style="text-shadow: 0px 4px 0px var(--col-dark);">side characters</h1>
				the characters i have that i don't use a lot,
				<br>
				and/or have little to no importance or whatever.
				<br> <br>
				<div class="container">
					<div x-show="women"><CharButton char='Glib'/></div>
				</div>
			</div>
			<br><br>
			<div class="sub-board">
				<h1 style="text-shadow: 0px 4px 0px var(--col-dark);">
					<a href="/projects/mod-name-here" style="color: var(--col-bright); padding: 14px; border-radius: 14px; background-image: linear-gradient(#f63, #f36);">
						mod name here
					</a>
				</h1>
				<br>
				the characters (mostly) exclusive to the hit friday night funkin' mod
				<br>
				<br> <br>
				<div class="container">
					<CharButton char='carlos'/>
				</div>
			</div>
			<br><br>
			<div class="sub-board">
				<h1 style="text-shadow: 0px 4px 0px var(--col-dark);">throwaways</h1>
				characters i will most likely not use anymore.
				<br>
				permission to own these is probably discouraged
				<br> <br>
				<div class="container">
					<p style="color: var(--col-main);">[ nothing yet ]</p>
				</div>
			</div>
		</div>
	</div>
	</body>
	<Footer />
</html>
