---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/characters/betpo/icon.gif" />
		<title>bepo</title>
        <meta content="/characters/betpo/walk.gif" property="og:image" />
		<meta name="twitter:card" content="summary_large_image">
	</head>
	<body style="background-color: #999;">
        <div style="
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		">
		<img src="/characters/betpo/walk.gif" alt="look at him go"/>
		<br>
		<audio id="blehh" src="/audio/bubble-beat-box.mp3" controls></audio>
		<script>
			window.addEventListener("DOMContentLoaded", event => {
				const audio = document.querySelector("audio");
				audio.loop = true;
				audio.play();
			});
		</script>
	</body>
</html>