---
import "../styles/global.css";
import { getCollection } from "astro:content";
import BlogPage from "../components/BlogPage.astro";

const posts = await getCollection("blog");
const bleh = posts.map((data) => data);
bleh.sort((a, b) => {
    return Date.parse(b.data.from) - Date.parse(a.data.from);
});
---

<BlogPage>
    <p><h1>blogs</h1></p>
    tiny lil updates on my tiny lil adventures
    <hr />
    <br />
    {
        /* lazy */
        [bleh[0]].map((a) => (
            <div class="sub-board" style="width: unset; margin-bottom: 24px;">
                <a href={"/blog/" + a.id.replace(".mdx", "")} style="top: 0%;">
                    <button style="--col: var(--col-main); float: right; right: 100%;">
                        go to post &RightArrow;
                    </button>
                </a>
                <p style="color: var(--col-light); margin-top: 0;">
                    <span style="color: var(--col-bright);">
                        <b>⭐ latest:</b>
                    </span>{" "}
                    {a.data.from}
                </p>
                <div style="top: 0%;">
                    <h2 style="margin-right: 10px; color: var(--col-light);">
                        {a.data.title}
                    </h2>
                </div>
                <hr style="background-color: var(--col-main); width: 100%;" />
                <p set:html={a.data.desc || "(no preview provided)"} />
            </div>
        ))
    }
</BlogPage>
