---
// Component Imports
import Alpine from "alpinejs";
import CharButton from "../components/CharButton.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const buttonsize = 150;
const chars = [];
// How do i do it
for (var bleh in import.meta.glob("/public/characters/*/sheet.png")) {
	chars.push(
		bleh
			.replace("/characters/", "")
			.replace("/sheet.png", "")
			.replace("/public", ""),
	);
}
// console.log(chars);

function getCharList() {
	// yall hate fun
	// how do i do this in normal alpine if "i" doesnt work
	// on CharButton for some reason???

	/*console.log("randomizing..");
	var result = [];
	while (result.length < 3) {
		var chosen = chars[Math.round(Math.random() * (chars.length - 1))];
		if (!result.includes(chosen)) {
			result.push(chosen);
		}
	}
	return result;*/

	return ["betty", "betpo", "josephine"];
}
---

<!-- blehhh -->
<html lang="en" x-data="{show: false}">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>betopia</title>

		<meta content="betopia" property="og:title" />
		<meta
			content="your trash can as a human lifeform."
			property="og:description"
		/>
		<meta content="/images/eepy.png" property="og:image" />
		<meta content="#996666" data-react-helmet="true" name="theme-color" />

		<style lang="scss">
			.container {
				display: flex;
				align-items: center;
				margin: auto;
				justify-content: center;
				max-width: fit-content;
				gap: 24px;
			}
			.awesome-grid {
				display: grid;
				gap: 24px;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				min-width: 200px;
			}

			.board {
				animation: 1s appear;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
				animation-delay: 1s;
				opacity: 0;
				visibility: hidden;
			}

			@for $i from 1 through 10 {
				.board:nth-child(#{$i}n) {
					animation-delay: #{0.3 + ($i * 0.1)}s;
				}
			}

			@keyframes appear {
				0% {
					translate: 0px 30px;
				}
				1% {
					opacity: 1;
					visibility: visible;
				}
				100% {
					opacity: 1;
					visibility: visible;
					translate: 0px 0px;
				}
			}

			@media screen and (max-width: 1111px) {
				.awesome-grid {
					display: block;
				}
				.board {
					margin-bottom: 24px;
				}
			}

			.bounce-icon {
				--speed-x: 1s;
				--speed-y: 3s;
				position: absolute;
				animation:
					var(--speed-x) bounce-x linear infinite alternate,
					var(--speed-y) bounce-y linear infinite alternate;
			}

			@keyframes bounce-x {
				from {
					left: 0;
				}
				to {
					left: 100%;
				}
			}
			@keyframes bounce-y {
				from {
					top: 0;
				}
				to {
					top: calc(100% - 75px);
				}
			}
		</style>
	</head>
	<Header />
	<body>
		<div style="margin: 23px;" class="awesome-grid">
			<div
				class="board"
				style="grid-column: 1 / 4; grid-row: 1 / 1; background-color: var(--col-bright); color: var(--col-dark);"
			>
				<a href="/characters/betty">
					<img
						style="float: right;"
						src="/images/eepy.png"
						width="150"
					/>
				</a>
				<h1>betopia</h1>
				<br /><br />
				<p
					style="color:var(--col-main);
		margin-top: -2%;
		font-size: 78%;
		font-weight: bolder;
		font-family: 'Helvetica';"
				>
					/ bət oʊ piə / - noun
				</p>
				<br />
				<li>
					a very lazy, sleepy girl wandering around on the internet
				</li>
				<br />
				<li>a stupid person who doesn't deserve anything</li>
				<br />
				<div style="align-items: baseline;">
					<p style="color:var(--col-main); text-align: center;">
						visit my silly's website Now. Immediately.
					</p>
					<a href="https://skruyo.com" class="container">
						<img
							src="/images/dnl.png"
							width="49"
							alt="daniel"
							loading="lazy"
							title="daniel"
						/>
						<img
							src="/images/dnl.png"
							width="49"
							alt="daniel"
							loading="lazy"
							title="daniel"
						/>
						<img
							src="/images/dnl.png"
							width="49"
							alt="daniel"
							loading="lazy"
							title="daniel"
						/>
					</a>
				</div>
			</div>
			<div
				class="board"
				style="grid-column: 4 / 6; grid-row: 1 / 3; overflow-x: hidden;"
			>
				<h1>hi !!!</h1>
				<br />
				my name is betty, or betopia, if you prefer.
				<br />i mainly draw and stuff, i'm bad at it, but i still have
				fun with it.
				<br />
				<br />
				i can kinda code too... i just don't have any examples near me right
				now, but trust me i have alot of
				<a
					href="https://haxeflixel.com"
					target="_blank"
					style="--col: #f96; --col-hover: #3f9;">haxeflixel</a
				>
				knowledge, and i'm currently learning <a
					href="https://godotengine.org"
					target="_blank"
					style="--col: #3cf; --col-hover: #cff;">godot</a
				>! <sub style="color: var(--col-dim)"
					>(i've been too lazy to learn godot these days)</sub
				>
				<br />
				<br />
				<br />
				<div
					style="
			position: relative;
			bottom: 0px;
			transform: translateX(-25%);
			max-width: 300px;
			margin:auto;
			"
				>
					<div
						style="float: inline-end; width: 100%; margin: auto; position: absolute; translate: 30px 60px;"
					>
						<div style="width: 400px; height: 200px;">
							{
								[
									"godot",
									"medibang",
									"haxeflixel",
									"fl",
									"animate",
								].map((a, idx) => (
									<img
										src={"/images/icons/" + a + ".png"}
										width="75"
										class="bounce-icon"
										style={
											"pointer-events: none;" +
											"--speed-x: " +
											(0.1 + Math.random()) * 2 +
											"s;" +
											"--speed-y: " +
											(0.1 + Math.random()) * 2 +
											"s;"
										}
									/>
								))
							}
						</div>
					</div>
					<img src="/images/think.png" width="450" />
				</div>
			</div>
			<div
				class="board"
				x-data={`{
					getCharList: () => {
					const chars = [${chars.map((a) => {
						return '"' + a + '"';
					})}];
					console.log(chars);
					console.log("randomizing..");
					var result = [];
					while (result.length < 3) {
						var chosen = chars[Math.round(Math.random() * (chars.length - 1))];
						if (!result.includes(chosen)) {
							result.push(chosen);
						}
					}
					return result;
					// return ["betty", "betpo", "josephine"];
				}
			}`}
				style="grid-column: 1 / 4; grid-row: 2 / 2;"
			>
				<h1>i have characters !</h1>
				<br />
				i love character design, and i rlly want to get good at it, take
				a look:
				<br /><br />
				<div style="text-align: center;">
					<div class="container" style="gap: 6px;">
						{
							getCharList().map((a) => (
								<CharButton size={buttonsize} character={a} />
							))
						}
					</div>
					<button
						style="font-size: 32px; width: 520px; padding: 20px; border-radius: 40px;"
						onclick="window.location.href = '/characters'"
					>
						👥 view all &RightArrow;
					</button>
				</div>
			</div>

			<div class="board" style="grid-column: 1 / 6; grid-row: 3 / 3;">
				<h1>i make stuff !</h1>
				<br />
				...when i'm not lazy.
				<br />
				i've got like 5 personal projects unfinished, you can see which ones
				i have finished here:
				<button
					style="padding: 20px; font-size: 30px; border-radius: 40px;"
					onclick="window.location.href = '/projects'"
				>
					📦 projects &RightArrow;
				</button>
			</div>

			<div class="board" style="grid-column: 1 / 3; grid-row: 4 / 4;">
				<h2>i draw ! not rlly good tho</h2>
				<br />
				<div
					class="sub-board"
					style="display: flex; padding: 10px; overflow-x: scroll; width: calc(100% - 80px);"
				>
					{
						[
							"daniel.png",
							"spooky.gif",
							"christmas.png",
							"funkin.png",
						].map((a) => (
							<img
								src={"/images/gallery/" + a}
								height="150"
								style="border-radius: 20px; margin: 5px;"
								loading="lazy"
							/>
						))
					}
				</div>
				<button
					style=" width: 100%; padding: 20px; font-size: 20px; border-radius: 40px;"
					onclick="window.location.href = '/gallery'"
				>
					🖼️ gallery &RightArrow;
				</button>
			</div>

			<div
				class="board"
				style="grid-column: 3 / 6; grid-row: 4 / 4; background-color: #60f;"
			>
				<h1 style="color: #cff;">I LOVE MY SILLY !!!</h1>
				<div style="text-align: center;">
					<a href="https://skruyo.com"
						><img alt="kiss" src="/images/kiss.gif" /></a
					>
				</div>
			</div>
			<div
				class="board"
				style="grid-column: 1 / 6; grid-row: 5 / 6; text-align: center;"
			>
				<img style="border-radius: 20px;" src="/images/css.gif" />
			</div>
		</div>
		<br />
	</body>
	<Footer />
</html>
