---
import ColorButton from "./ColorButton.astro";

interface Props {
    character?: string;
    data?: string;
}
const {
    character = "betty",
    data = 'imgsub: "what ???", colors: ["#000000"]',
} = Astro.props;
---

<style>
    .sheet-container {
        padding: 15px;
        background-color: var(--col-char-bg);
        border-radius: 40px;
        margin: auto;
        max-width: 100vw;
    }

    .sheet-color-cont {
        align-items: left;
        justify-content: left;
        text-align: left;
        background-color: var(--col-bright);
        border-radius: 45px;
        max-width: fit-content;
        border: 7px solid var(--col-dim);
        left: 0px;
        bottom: 0px;
    }

    .sheet-color-palette {
        margin: 8px;
        border-radius: 100%;
        min-width: 2.92em;
        min-height: 2.92em;
        max-width: 2.92em;
        max-height: 2.92em;
        color: rgba(0, 0, 0, 0%);
    }
</style>
<div
    id="sheet"
    x-data={"{ " + data + ", show_cols: false }"}
    style="display: flex; max-width: fit-content; justify-content: flex-start; margin: auto;"
>
    <div>
        <div class="sheet-container">
            <div>
                <img
                    id="burp"
                    src={`/characters/${character.toLowerCase()}/sheet.png`}
                    x-bind:alt="imgsub"
                    x-bind:title="imgsub"
                    style="max-width: 80wh;"
                />
                <script>
                    document.getElementById("burp").onerror = function () {
                        document
                            .getElementById("burp")
                            .setAttribute(
                                "src",
                                "/characters/default-sheet.png",
                            );
                    };
                </script>
            </div>
        </div>
    </div>
    <div style="margin-left: 15px;">
        <div class="sheet-color-cont">
            <button
                title="palette (click to show / hide)"
                class="sheet-color-palette"
                style="background-color: #c66;"
                x-on:click="show_cols = !show_cols"
            >
                <p style="margin: -15px; color: #fff;">🎨</p>
            </button>
            <div style="display: block;" x-show="show_cols">
                <template x-for="col in colors">
                    <div>
                        <ColorButton color="col" />
                        <br />
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
