---

interface Props {
	char?: string;
}
const { char = 'Betpo' } = Astro.props;
---
<a href={`/characters/${char.toLowerCase()}`} style="max-width: fit-content;">
    <img class="bleh" src={`/src/content/characters/${char.toLowerCase()}/art.png`} alt={char} title={char}/>
</a>

<style lang="scss">
.bleh {
    width: auto;
    max-width: 75%;
    text-align: center;
}
.bleh:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}

// god i wish there was an easier way to do this
@keyframes shake {
    0% { translate: 0px 0px }
    10% { translate: 1px -2px }
    20% { translate: 2px 0.5px }
    30% { translate: -1px 1px}
    40% { translate: 1px 0.4px }
    50% { translate: 0px 2px }
    60% { translate: 2px 0px }
    70% { translate: 0px 0.2px }
    80% { translate: 0.7px 0px }
    90% { translate: 1px 2px }
    100% { translate: 0px -1px }
}
</style>