---
import ContactButton from './ContactButton.astro'
import HeaderLogo from './HeaderLogo.astro'
// import '@styles/global.css'
---

<footer>
<div style="background-color: var(--header-color); height: fit-content; color: var(--header-logo-color-1)">
    <div style="align-items: center; display: flex; padding: 15px;">
        <ContactButton link="https://twitter.com/betpowo" name="Twitter" image="twit" size="40"/>
        <ContactButton link="https://youtube.com/c/Betopia_" name="YouTube" image="tube" size="40"/>
        &nbsp;   &copy; {new Date().getFullYear()} me......this is not a real copyright   
        <div style="float: right; margin-left: auto; align-items: center;">   
            <img src="/svgs/builtwith.svg" width="300px" alt="built with astro plus alpine dot j s"/>
            <a href="https://astro.build" target="_blank">
                <div style="background-color: rgba(0, 0, 0, 0%); position: absolute; float: right; width: 125px; height: 50px; translate: -3px -55px;">
                </div>
            </a>
            <a href="https://alpinejs.dev" target="_blank">
                <div style="background-color: rgba(0, 0, 0, 0%); position: absolute; float: right; width: 155px; height: 50px; translate: 145px -53px;">
                </div>
            </a>
        </div>
    </div>
</div>
</footer>