---
import "../styles/global.css";
import ContactButton from "./ContactButton.astro";

const {
    link = undefined,
    data = '{ title: "???", desc: "no description provided... sigh......" }',
    name = "???",
    extension = "png",
} = Astro.props;
---

<style>
    .gallery-container {
        display: flex;
        align-items: start;
        margin: auto;
        justify-content: center;
        max-width: 48rem;
    }
</style>
<div
    class="sub-board gallery-container"
    x-data={data}
    style="text-align: left;"
>
    <div style="width: min-content;">
        <a href={"/images/gallery/" + name + "." + extension} target="_blank">
            <img
                alt=""
                loading="lazy"
                src={"/images/gallery/" + name + "." + extension}
                style="
                display: grid;
                max-width: 200px;
                max-height: 200px;
                border-radius: 10px;
            "
            />
        </a>
    </div>
    <br />
    <div style="margin-left: 23px;">
        <a
            href={"/gallery/" + name}
            style="--col: var(--col-bright); --col-hover: var(--col-light); display: block; width: fit-content;"
            ><h2 x-text="title" style="color: unset; width: fit-content;">
            </h2></a
        >
        <nobr style="display: flex; gap: 5px; align-items: center;">
            <span x-text="from" style="color: var(--col-light);"></span>
            {
                (link[0] ?? [])?.map((a) => (
                    <ContactButton
                        size="40"
                        image={a[0]}
                        name={a[0]}
                        link={a[1]}
                    />
                ))
            }
        </nobr>
        <hr style="background-color: var(--col-dark); width: 100%;" />
        <p id="description" x-html="desc" style="margin-bottom: 0;"></p>
    </div>
</div>
<br />
