---
import '../styles/global.css';

const { link = undefined, data = '{ title: "???", desc: "no description provided... sigh......" }', name = '???' } = Astro.props;
---
<style>
    .container {
	    display: flex;
		align-items: start;
		margin: auto;
		justify-content: center;
		max-width: fit-content;
	}
</style>
<div class="sub-board container" x-data={data} style="text-align: left; width: fit-content;">
    <div>
        <a href={'/images/gallery/' + name + '.png'} target="_blank">
            <img alt="" loading="lazy" src={'/images/gallery/' + name + '.png'} style="
                display: grid;
                max-width: 400px;
                max-height: 400px;
                border-radius: 20px;
            " />
        </a>
    </div>
    <br>
    <div style="margin-left: 23px;">
    <h2 x-text="title" style="color: var(--col-bright);" />
    <nobr>
    <span x-text="from" style="color: var(--col-light);" />
    {
        () => {
            if (link == '') {
                return <button disabled style="margin: 0;">no link</button>
            } else {
                return <a href={link} target="_blank"><button style="margin: 0; --col: var(--col-main);">link</button></a>
            }
        }
    }
    </nobr>
    <hr style="background-color: var(--col-dark); width: 100%;">
    <p id="description" x-html="desc" />
    </div>
</div>
<br>