---
import '../styles/global.css';

const { data = '{ title: "???", desc: "no description provided... sigh......" }', name = '???' } = Astro.props;
---
<style>
    .container {
	    display: flex;
		align-items: start;
		margin: auto;
		justify-content: center;
		max-width: fit-content;
	}
</style>
<div class="sub-board container" x-data={data} style="text-align: left; width: fit-content;">
    <div>
        <a href={'/images/gallery/' + name + '.png'} target="_blank">
            <img src={'/images/gallery/' + name + '.png'} style="
                display: grid;
                max-width: 400px;
                max-height: 400px;
                border-radius: 20px;
                box-shadow: 0px 7px 0px var(--col-dark);
            " />
        </a>
    </div>
    <br>
    <div style="margin-left: 23px;">
    <h1 x-text="title" style="text-shadow: 0px 7px 0px var(--col-dark); max-width: 600px;" />
    <p x-text="from" style="color: var(--col-light);" />
    <hr style="background-color: var(--col-dark); width: 100%;">
    <p id="description" x-html="desc" style="max-width: 600px;" />
    </div>
</div>
<br>