---
// Component Imports
import Counter from '../../components/Counter.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import '../../styles/global.css';
---
<!-- blehhh -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>betopia's projects</title>

		<meta content="projects - betopia" property="og:title" />
		<meta content="stuff that i'm trying to do for my own enjoyment." property="og:description" />
		<meta content="/images/qstn.png" property="og:image" />
		<meta content="#ffffff" data-react-helmet="true" name="theme-color" />

		<style>
			.container {
				display: flex;
				align-items: center;
				margin: auto;
				justify-content: center;
				max-width: fit-content;
			}
			div.container img {
				margin: 15px;
			}
		</style>
	</head>
	<Header />
	<body>
	<div style="margin: 23px;">
		<div class="board">
			<h1><span style="font-weight: normal;">&#6;</span> projects</h1>
			<br>
			here's most of the stuff i made, that i'm kinda proud of, even if it's like the worst thing ever
			<br><br>
			<div class="container">
				<button onclick="window.location.href = '/characters'">
					&#4; character storage
				</button>
				<a href="/projects/mod-name-here">
					<img src="/images/modnameherelogo.png" width="300" title="mod name here" alt="mod name here"/>
				</a>
				<a href="/projects/calculator">
					<img src="/images/epiccalclogo.png" width="300" title="epic calculator" alt="epic calculator"/>
				</a>
			</div>
			more soon...
		</div>
	</div>
	</body>
	<Footer />
</html>
