---
import Page from "../components/Page.astro";
const { frontmatter } = Astro.props;
---

<meta
	content={frontmatter.display + " - betopia's projects"}
	property="og:title"
/>
<meta content={frontmatter.embed.desc} property="og:description" />
<meta content={frontmatter.embed.image} property="og:image" />
<meta
	content={frontmatter.embed.color}
	data-react-helmet="true"
	name="theme-color"
/>
<meta name="twitter:card" content="summary_large_image" />

<Page logo={false} title={frontmatter.display + " - betopia's projects"}>
	<div style="background-color: var(--col-main); padding: 40px;">
		<h1 style="display: flex; gap: 20px; align-items: center;">
			<button
				onclick="javascript:history.back()"
				style="margin: 0; width: 3rem; height: 3rem; font-size: 40px;
            display: flex; align-items: center; justify-content: center;"
				>&leftarrow;</button
			>projects
		</h1>
		<hr /><br />
		<div style="max-width: 40rem; margin: auto;">
			<slot />
		</div>
	</div>
</Page>
